-- Python Version 3.11.4
-- Note: sometimes the url of training and test data can expire before running the model
-- Required Libraries to run the notebooks
xmltodict
nltk
numpy
re
collections
pandas
requests
os
pathlib
glob
re
nltk.download('punkt')
xml.etree.ElementTree
string
transformers
torch
sklearn.model_selection
sklearn.svm
sklearn.metrics
sklearn.ensemble
xgboost
--Jupyter notebook or Visual studio code to handle notebook files of type .ipynb
